DATABASE_URL=postgresql://postgresql-username:replace-with-a-strong-database-password@localhost:5432/recruitment_db
SECRET_KEY=some-long-secret-key
GROQ_API_KEY=your-real-api-key
ACCESS_TOKEN_EXPIRE_MINUTES=60